'scopeName': 'text.language-hex'
'fileTypes':[
  'x'
]
'name':'x'
'foldingStartMarker': '\{\s*$';
'foldingStopMarker': '^\s*\}'
'patterns': [
  {
    'include': '#language'
  }
]
'repository':
  'language':
    'patterns':[
      {
        'include':'#main-comments'
      }
      {
        'include':'#keywords'
      }
      {
        'include':'#strings'
      }
      {
        'include':'#operators'
      }
      {
        'include':'#constants'
      }
    ]
  'main-comments':
    'patterns':[
      {
        'begin': '\\|'
        'beginCaptures': 'punctuation.definition.comment.language-hex'
        'end': '\\|'
        'name': 'comment.line.double-slash.language-hex'
        'patterns': [
          {
            'begin': '$\\n?'
            'end': '\\|'
            'name': 'invalid.illegal.language-hex'

          }
        ]
      }
    ]
  'keywords':
    'patterns':[
      {
        'match':'(^| )(module|in|proc|func|return|var|array|val|if|and|or|not|then|else|skip|stop|while|do|__asm)(?![A-Za-z0-9])'
        'name':'keyword.other.language-hex'
      }
      {
        'match':'(delay|longdelay|verylongdelay|displayBitmap|memcpy|memzero|clearDisplay|mul|div|rem|abs|lsh|rsh|isOdd|isEven|mod|sRand|genRand|getBitmapForChar|copyBitmapForChar|initAlphabet|initUpperCase|initLowerCase|initNumbers|initSymbols)(?=\\()'
        'name':'support.variable.language-hex'
      }
      {
        'match':'(?<=\(\) )(is)(?=( |$\\n?))'
        'name':'keyword.other.language-hex'
      }
      {
        'match':'([a-zA-Z_]+( )?(?=\\())'
        'name':'support.function.language-hex'
      }
      {
        'match': '(\@)([a-zA-Z_0-9]+)'
        'name': 'constant.language-hex'
      }
      {
        'begin': '(?<=(__asm) \\()"'
        'end': '"'
        'name': 'string.quoted.single.language-hex'
        'patterns': [
          {
            'match': '(ldam|ldbm|stam|ldac|ldbc|ldap|ldai|ldbi|stai|br|brz|brn|brb|add|sub|in|out|opr)'
            'name': 'keyword.other.language-hex'
          }
          {
            'include': '#constants'
          }
        ]
      }
    ]
  'strings':
    'patterns':[
      {
        'begin': '"'
        'end': '"'
        'name': 'string.quoted.double.language-hex'
        'patterns': [
          {
            'match': '\\\\.'
            'name': 'constant.character.escape.language-hex'
          }
        ]
      }
      {
        'begin': '\''
        'end': '\''
        'name': 'string.quoted.single.language-hex'
        'patterns': [
          {
            'match': '\\\\.'
            'name': 'constant.character.escape.language-hex'
          }
        ]
      }
    ]
  'operators':
    'patterns': [
      {
        'match': ':?=|\\+|-|<>|(<|>)=?|!|\\?|~'
        'name': 'keyword.operator.language-hex'
      }
    ]
  'constants':
    'patterns': [
      {
        'match': '(#b)(0|1)+'
        'name': 'constant.numeric.integer.language-hex'
      }
      {
        'match': '(#)[0-9a-fA-F]+'
        'name': 'constant.numeric.integer.language-hex'
      }
      {
        'match': '\\b\\d+(?i:e\\d+)?\\b'
        'name': 'constant.numeric.integer.language-hex'
      }
      {
        'match': '(?<![a-zA-Z_-])(true|false)(?![a-zA-Z_-])'
        'name': 'constant.langauge.language-hex'
      }
    ]
